$dim-screen-sm: 576px;
$dim-screen-md: 768px;
$dim-screen-lg: 992px;
$dim-screen-xl: 1200px;

$dim-padding-internal-xsmall: 3px;
$dim-padding-internal-small: 6px;
$dim-padding-internal-medium: 10px;
$dim-padding-internal-large: 18px;
$dim-padding-internal-xlarge: 24px;

$dim-border-radius: 5px;
$dim-content-max-width: 1280px;
